
*{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-start;
    width: 100%;
    height: auto;
}  
header{
    position: relative;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 50px ;
    background: #ccc;
}
header .logo{
    position: relative;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 1px;
    padding: 60px 10px;
    color: #000;
}
.Nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: right;
    position: relative  ;
}
.Nav ul li a{
    margin:  0 20px;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: #000;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}


.Nav ul li a:hover{  
    color: #fff;
    background: #73C8A9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #373B44, #73C8A9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #373B44, #73C8A9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.fas{
    margin-left: 10px;
}
.content{
    margin: 40px 60px;
    display: flex;
    justify-content: space-around;
    max-height: 600px;
}
#book__img{
    border: 1px solid #000;
    object-fit: contain;
    height: 600px;
    width: 400px;
}
.content .content__info{
    display: flex;
    flex-direction: column;
    justify-content: left;
    max-width: 60%;
    width: 100%;
}
.content h2{
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 55px;
    line-height: 60px;
}
.content p{
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 50px;
}
.content .btn button{
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 40px;
    margin: 20px 50px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 10rem;
    transition: .8s;
    letter-spacing: 0.1rem;
    position: relative;
    border: none;
    outline: none;
    background: #ccc;
}
.content .btn button:hover{
    cursor: pointer;
    background: #5A3F37;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
   
}

footer{
    margin-top: 100px;
    background: #73C8A9;
}
footer p{
    text-align: center;
    margin-bottom: 30px;
    font-size: 18px;
    font-weight: 500;
}
.media_icon{
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}
.media_icon a{
    margin: 50px 20px 10px;
    position: relative;
    font-size: 30px;
    bottom: 0;
    transition: .5s;
    transition-property: transform ;
}
.media_icon a:hover{
    transform: scale(1.5);
}




/* ===== Login ====== */
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    background: #fff ;
    margin: 10px;
    border-radius: 10px;
}
.container .title{
    font-size: 25px;
    font-weight: 700;
    display: block;
    position: relative;
    margin-bottom: 20px;
}
.container .title::before{
    content: '';
    position: absolute;
    height: 4px;
    width: 40px;
    background:linear-gradient(to right, #2C7744, #5A3F37); 
    left: 0;
    bottom: 0;
}
.container form .detail{
    margin: 20px 0 15px 0;
}
form .detail .input-box{
    width: calc(100%/2-30px);
    margin-bottom: 15px;
}

.detail .input-box input{
    height: 50px;
    width: 100%;
    padding-left: 8px;
    outline: none;
    border-radius: 8px;
    border: 1px solid #ccc;
    transition: all 0.8s ease;
}
.detail .input-box input:focus,
.detail .input-box input:valid{
    border-color:#5A3F37 ;
}
.detail .input-box label{
    font-weight: 700;
    margin-bottom: 6px;
    display: block;

}
.gender .gender_detail{
    font-weight: 700;
    margin-bottom: 20px;
}
.gender .category{
    width: 70%;
    
}
.gender .category label:not(:first-child){
    display: inline-block;
    margin-left:40px ;
    margin-top: 10px;
}

form #btn{
    height: 45px;
    margin: 45px 0;
}
form #btn input{
    height: 100%;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    outline: none;
    transition: all .3s ease;
    background: linear-gradient(to right, #373B44, #73C8A9);
}
form #btn input:hover{
    background: linear-gradient(to right, #73C8A9, #373B44);
}


.quotes {  
    margin-top: 100px;
    margin-bottom: 50px;
}
.scroll-to{
    scroll-behavior: smooth;
}
.quote-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-right: 50px;
}

.quote-heading {
    text-align: center;
    font-size: 50px;
    margin-bottom: 34px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    width: calc(90% / 3);
    padding: 25px;
    height: 600px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.book__img {
    object-fit:contain;
    width: 100%;
    height: 350px;
    border-radius: 20px;    
}

.quote {
    margin-top: 32px;
}

.quote__heading {
    margin-bottom: 28px;
    font-size: 34px;
}

.quote__content {
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
}
.quote .book__name{
    font-weight: 400;
}
.info-heading{
    margin: 30px 0 50px 100px;
    font-size: 24px;
    font-weight: 600;
    border-bottom: 1px solid #333;
    width: 20%;
}